html {
	font-family: cursive;
}

.navbar {
	background-color: #FED049 !important; 
	color: black;
}

.nav-item {
	color: black;
}

.footer {
	background-color: #282846 !important;
}

.btn {
	background-color: #007580 !important;
	color: white !important;
	border-color: #D8EBE4 !important;
}

.spinner-border {
	color: #007580;
}

.btn:hover {
	background-color: #34BDD1 !important;
}

button.navbar-toggler-collapsed > span:hover {
	border: 1px solid #34BDD1 !important;
}

#registerImage {
	padding-top: -50px;
}

header {
	padding-bottom: .25rem
}

header > p {
	font-size: 2rem !important;
	font-weight: 500 !important;
}

header > h1 {
	padding-top: 3rem
}

#profileContainer {
	display: center;
	/*border: 10px solid #34BDD1 !important;*/
}

#profileContainer > div {
	display: center;
	background-color: transparent !important;
	border: 5px solid #282846 !important;
}



